html {
	padding: 1em;
}

body {
	color: #333;

	font-size: small;
	font-family: 'Ubuntu', 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

h1,
h2 {
	color: #555;
	margin-bottom: 1em;
}
	h1 {
		font-size: 250%;
		border: none;
	}
	h2 {
		margin-top: 1.5em;
	}

img {
	max-width: 100%;
	height: auto;
}

ul {
	margin-left: 0.7em !important;
}
	ul li {
		list-style-type: none;
	}
		ul li:before {
			content: "––";
			padding-right: 0.7em;
		}
	li ol,
	li ul {
		margin-left: 2em !important;
	}

/* editor only */
body {
	line-height: 1.6em !important;
}
	body > :first-child {
		margin-top: 0 !important;
	}

h1, h2, h3, h4, h5, h6 {
	margin: 0.7em 0;
}
