/*
 *  CSS Reset v2.0
 *  Eric Meyer, 20110126
 *  http://meyerweb.com/eric/tools/css/reset/
 *
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
 *  Sane defaults
 *
 */

a { outline: none; }
	a, a:link, a:visited { text-decoration: none; }
	a:hover, a:active, a:focus { }

em, i {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.5em 0 1em 0;
	font-weight: normal;
	text-align: left;
	line-height: 1.3em;
}

h1 { font-size: 180%; }
h2 { font-size: 150%; }
h3 { font-size: 130%; }
h4 { font-size: 120%; }
h5 { font-size: 110%; }
h6 { font-size: 105%; }

p, blockquote, pre, address, dl, ol, ul, form, table, article {
	margin-bottom: 1em;
}

blockquote {
	margin-left: 4em;
	font-style: oblique;
}

hr {
	margin: 1em 0;
	border: none;
	border-bottom: 1px solid #ccc;
}

/*
 *  Self-clearing float
 *  Tony Aslett, 20040508
 *  http://csscreator.com/attributes/containedfloat.php
 *
 */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/*
 *  Selection style
 *
 */

::selection { background-color: #111; color: #fff; }
::-moz-selection { background-color: #111; color: #fff; }
::-webkit-selection { background-color: #111; color: #fff; }

/*
 *  Small, useful definitions and tweaks
 *  Including WordPress -specific stuff
 *
 */

.hidden { display: none; }
.small { font-size: 85%; }

.alignright { float: right; margin: 1em 0 1em 1em; }
.alignleft { float: left; margin: 1em 1em 1em 0; }
.aligncenter { clear: both; display: block; margin: 1em auto; }

/*
 *  Flexbox columns
 *
 */

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
	.flex .item {
		flex-grow: 1;
		width: 100%;
		box-sizing: border-box;
	}
		/* Different column counts */
		.flex.cols-2 .item { width: 33.4%; }
		.flex.cols-3 .item { width: 25.1%; }
		.flex.cols-4 .item { width: 20.1%; }
		.flex.cols-5 .item { width: 16.7%; }

			/* Zero margin for last item of the row */
			.flex.cols-2 .item:nth-child(2n+2),
			.flex.cols-3 .item:nth-child(3n+3),
			.flex.cols-4 .item:nth-child(4n+4),
			.flex.cols-5 .item:nth-child(5n+5) {
				margin-right: 0;
			}

			/* Handle rows that aren't full */
			.flex.cols-2 .item:nth-child(2n+1):last-child,
			.flex.cols-3 .item:nth-child(3n+1):last-child,
			.flex.cols-3 .item:nth-child(3n+2):last-child,
			.flex.cols-4 .item:nth-child(4n+1):last-child,
			.flex.cols-4 .item:nth-child(4n+2):last-child,
			.flex.cols-4 .item:nth-child(4n+3):last-child,
			.flex.cols-5 .item:nth-child(5n+1):last-child,
			.flex.cols-5 .item:nth-child(5n+2):last-child,
			.flex.cols-5 .item:nth-child(5n+3):last-child,
			.flex.cols-5 .item:nth-child(5n+4):last-child {
				margin-right: 0;
			}