#notifications,
#main,
.outside {
	width: auto;
	min-width: 640px !important;
}

#header-menu .menu > ul li a,
#header-menu ul.menu li a {
	font-size: 90%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}