body {
	background-color: #555;
}

#header {
	border-color: #444;
}
	#header-menu ul.children li a, 
	#header-menu ul.sub-menu li a {
		background-color: #444;
		color: #ddd;
		border-color: #777 !important;
	}

#notifications,
#main {
	border-color: #333;
	color: #ddd;
}
	#notifications {
		background-color: #2a2a2a;
	}
		#notifications div.textwidget {
			color: #aaa;
		}

	#main {
		background-color: #333;
	}
		#main h1, #main h2 {
			color: #eee;
		}
		#main .uc-content-block {
			border-color: #111;
		}

#footnote,
#footer {
	background-color: #444;
	color: #bbb;
	border-color: #333;
}
	#footnote a,
	#footer a {
		color: #999;
	}
	#footnote div.widget {
		border-color: #222;
	}