#notifications,
#main,
.outside {
	width: auto;
}

/* Footer */

#footnote .inside {
	display: block;
}

#footnote div.widget {
	width: 100%;
	padding: 0 0 1.5em 0;
	margin-bottom: 1.5em;

	border-right: 0 none;
	border-bottom: 1px dotted rgba( 0, 0, 0, 0.3 );
}
	#footnote div.widget:last-child {
		padding-bottom: 0;
		border-bottom: 0 none;
	}
